<% if (site.posts.length){ %>
  <div class="widget">
    <p class="asidetitle"><%= __('recent_visitors') %></p>
    <div class="widget">
	  <ul class="ds-recent-visitors" id="ds-recent-visitors" data-num-items="12"></ul>
	</div>
  </div>
<% } %>